In [1]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 3.0MB/s ta 0:00:011
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Building wheel for geographiclib (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.20.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.20.0               |             py_0          57 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          90 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.20.0-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.20.0         | 57 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Folium installed
Libraries imported.

In [2]:

# Read the CSV data file from the object storage into a pandas DataFrame

import pandas as pd
NYC_CUISINE=pd.read_csv('NYC_Cu.csv')
NYC_CUISINE.drop(NYC_CUISINE.columns[[3]], axis=1,inplace=True) 
NYC_CUISINE.head()

     Borough  Neighborhood                                Cuisine
0  The Bronx  Bedford Park  Mexican,Puerto Rican,Dominican,Korean
1  The Bronx       Belmont                       Italian,Albanian
2  The Bronx   City Island                        Italian,Seafood
3  The Bronx   Morris Park                       Italian,Albanian
4  The Bronx       Norwood                               Filipino

In [3]:
chicago_crime=pd.read_csv('Chicago_Crime_Data-v2.csv')
chicago_crime

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,11230490,JB151690,2/14/2018 11:15,036XX S ARCHER AVE,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,...,11,59,6,1161614,1880357,2018,5/4/2018 15:51,41.827374,-87.682568,"(41.827373751, -87.682568055)"
1,10952376,JA272438,5/20/2017 20:30,028XX W 21ST ST,820,THEFT,$500 AND UNDER,SIDEWALK,False,False,...,12,30,6,1157493,1889929,2017,2/10/2018 15:50,41.853725,-87.697427,"(41.853725089, -87.697427476)"
2,10943516,JA261898,5/13/2017 8:05,0000X N LATROBE AVE,820,THEFT,$500 AND UNDER,STREET,False,False,...,28,25,6,1141381,1899903,2017,2/10/2018 15:50,41.881407,-87.756319,"(41.88140727, -87.756319082)"
3,11185089,JA559176,12/20/2017 16:30,019XX S MILLARD AVE,810,THEFT,OVER $500,RESIDENCE,False,False,...,24,29,6,1152346,1890287,2017,5/4/2018 15:51,41.854811,-87.716310,"(41.854810528, -87.716309542)"
4,11072808,JA412895,8/31/2017 3:30,011XX N KARLOV AVE,810,THEFT,OVER $500,RESIDENTIAL YARD (FRONT/BACK),False,False,...,37,23,6,1148843,1907272,2017,2/10/2018 15:50,41.901488,-87.728728,"(41.901487656, -87.728728004)"
5,11143628,JA503725,11/8/2017 10:38,058XX S ASHLAND AVE,820,THEFT,$500 AND UNDER,STREET,True,False,...,15,67,6,1166676,1865801,2017,2/10/2018 15:50,41.787324,-87.664412,"(41.787323718, -87.664411954)"
6,11048967,JA384163,8/2/2017 5:00,028XX N Maplewood Ave,820,THEFT,$500 AND UNDER,RESIDENCE,False,False,...,1,21,6,1158865,1918857,2017,2/10/2018 15:50,41.933078,-87.691598,"(41.933078052, -87.691597583)"
7,11110571,JA460432,10/5/2017 14:35,076XX S HOMAN AVE,460,BATTERY,SIMPLE,"SCHOOL, PUBLIC, GROUNDS",False,False,...,18,70,08B,1155024,1853614,2017,2/10/2018 15:50,41.754122,-87.707460,"(41.754121535, -87.707460248)"
8,11137994,JA496716,11/2/2017 23:22,008XX N WASHTENAW AVE,486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,True,True,...,26,24,08B,1158244,1905393,2017,2/10/2018 15:50,41.896145,-87.694248,"(41.896144516, -87.694248407)"
9,11014534,JA344492,7/12/2017 3:00,009XX E 132ND PL,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,True,...,9,54,08B,1185380,1817834,2017,2/10/2018 15:50,41.655277,-87.597337,"(41.655276978, -87.597336736)"
10,11127628,JA483294,10/23/2017 21:20,072XX S DAMEN AVE,1345,CRIMINAL DAMAGE,TO CITY OF CHICAGO PROPERTY,STREET,False,False,...,17,67,14,1164274,1856746,2017,2/10/2018 15:50,41.762527,-87.673474,"(41.76252653, -87.673473808)"
11,11185730,JA560123,12/22/2017 22:57,031XX N NEWCASTLE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,True,False,...,36,18,14,1130206,1920118,2017,5/4/2018 15:51,41.937079,-87.796890,"(41.937078733, -87.796889721)"
12,10811959,JA110097,1/10/2017 2:23,019XX N HAMLIN AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,...,26,22,26,1150735,1912671,2017,2/10/2018 15:50,41.916266,-87.721637,"(41.916266226, -87.721637009)"
13,10931066,JA246453,4/30/2017 8:00,034XX W BEACH AVE,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,APARTMENT,False,False,...,26,23,26,1153216,1909426,2017,2/10/2018 15:50,41.907313,-87.712608,"(41.907312737, -87.712608155)"
14,10808622,JA107722,1/7/2017 20:26,068XX W WRIGHTWOOD AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,36,18,26,1130226,1916527,2017,2/14/2017 15:49,41.927224,-87.796899,"(41.927224253, -87.796898791)"
15,11018984,JA349450,7/15/2017 18:55,020XX E 79TH ST,502P,OTHER OFFENSE,FALSE/STOLEN/ALTERED TRP,PARKING LOT/GARAGE(NON.RESID.),True,False,...,8,46,26,1191073,1852990,2017,2/10/2018 15:50,41.751614,-87.575374,"(41.751613643, -87.575373855)"
16,11122168,JA470839,10/13/2017 17:00,014XX E 83RD ST,5000,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,RESIDENCE,False,False,...,8,45,26,1187086,1850233,2017,2/10/2018 15:50,41.744144,-87.590071,"(41.744143621, -87.590071382)"
17,10950230,JA269772,5/18/2017 19:35,038XX W MONROE ST,051A,ASSAULT,AGGRAVATED: HANDGUN,STREET,True,True,...,28,26,04A,1150782,1899386,2017,2/10/2018 15:50,41.879810,-87.721812,"(41.879809931, -87.721812233)"
18,11111810,JA462321,10/7/2017 16:00,064XX S MORGAN ST,520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,APARTMENT,True,True,...,16,68,04A,1170753,1862070,2017,2/10/2018 15:50,41.776997,-87.649572,"(41.776997403, -87.649572168)"
19,10904332,JA216127,4/7/2017 12:30,066XX S BISHOP ST,610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,...,17,67,5,1167806,1860811,2017,2/10/2018 15:50,41.773606,-87.660412,"(41.77360634, -87.660411912)"
20,11057640,JA394755,8/15/2017 12:29,021XX W CRYSTAL ST,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,RESIDENCE,False,False,...,32,24,11,1161955,1908307,2017,2/10/2018 15:50,41.904064,-87.680537,"(41.904064096, -87.680537205)"
21,11178752,JA550741,12/14/2017 20:50,029XX W BERTEAU AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,...,33,16,11,1156097,1927766,2017,5/4/2018 15:51,41.957581,-87.701528,"(41.957581352, -87.70152846)"
22,10882712,JA192460,3/19/2017 10:35,036XX W ROOSEVELT RD,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,24,29,3,1152475,1894470,2017,2/10/2018 15:50,41.866287,-87.715726,"(41.866286618, -87.715725607)"
23,10831592,JA133264,1/28/2017 14:52,009XX N MASSASOIT AVE,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,29,25,3,1137854,1905671,2017,2/14/2017 15:49,41.897300,-87.769131,"(41.897299743, -87.769131006)"
24,11184062,JA557966,12/21/2017 11:30,001XX S OAKLEY BLVD,031A,ROBBERY,ARMED: HANDGUN,VEHICLE NON-COMMERCIAL,False,False,...,2,28,3,1161099,1899441,2017,5/4/2018 15:51,41.879753,-87.683928,"(41.879752884, -87.683927994)"
25,11056591,JA393243,8/16/2017 10:10,094XX S HARVARD AVE,1365,CRIMINAL TRESPASS,TO RESIDENCE,RESIDENCE,True,False,...,21,49,26,1175675,1842516,2017,2/10/2018 15:50,41.723230,-87.632113,"(41.723230031, -87.632112534)"
26,11106461,JA455629,10/2/2017 17:40,079XX S HALSTED ST,1330,CRIMINAL TRESPASS,TO LAND,RESTAURANT,True,False,...,17,71,26,1172343,1852285,2017,2/10/2018 15:50,41.750111,-87.644031,"(41.750111323, -87.644030737)"
27,23469,JA359626,7/23/2017 9:25,015XX E 82ND ST,110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,8,45,01A,1188090,1850923,2017,7/30/2017 15:51,41.746013,-87.586371,"(41.746013191, -87.58637073)"
28,11233321,JB155558,2/16/2018 8:18,036XX W 81ST ST,1540,OBSCENITY,OBSCENE MATTER,RESIDENCE,True,True,...,18,70,17,1153482,1850636,2018,5/4/2018 15:51,41.745980,-87.713190,"(41.745980049, -87.713189894)"
29,10840565,JA143710,2/6/2017 13:20,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,37,23,26,1148881,1905963,2017,2/14/2017 15:49,41.897895,-87.728622,"(41.89789489, -87.728622316)"

In [4]:
chicago_crime_cnt=chicago_crime['YEAR'].value_counts()
chicago_crime_cnt

2017    28
2018     2
Name: YEAR, dtype: int64

Total Crimes in 2018 and 2017 are 30

In [105]:
nyc_crime=pd.read_csv('NYC_crime.csv')
nyc_crime

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,JURIS_DESC,...,PARKS_NM,PD_CD,PD_DESC,PREM_TYP_DESC,YEAR,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,405538879,18,MANHATTAN,1/1/2016,17:00:00,4/5/2019,4:36:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,639,AGGRAVATED HARASSMENT 2,RESIDENCE - APT. HOUSE,2019,988408,219412,40.768919,-73.984990,"(40.768918887, -73.984990302)"
1,983297347,23,MANHATTAN,1/1/2016,8:00:00,12/31/2017,8:00:00,ATTEMPTED,NaN,N.Y. HOUSING POLICE,...,NaN,177,SEXUAL ABUSE,RESIDENCE - PUBLIC HOUSING,2019,998730,226827,40.789260,-73.947710,"(40.789260224, -73.947710001)"
2,403250906,26,MANHATTAN,1/1/2016,0:01:00,12/31/2017,23:59:00,COMPLETED,GRANT,N.Y. HOUSING POLICE,...,NaN,175,"SEXUAL ABUSE 3,2",RESIDENCE - PUBLIC HOUSING,2019,996241,236149,40.814850,-73.956682,"(40.814850289, -73.956681848)"
3,235290134,6,MANHATTAN,1/1/2016,12:00:00,3/1/2016,12:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,638,"HARASSMENT,SUBD 3,4,5",PHOTO/COPY,2019,981983,208095,40.737857,-74.008182,"(40.737857273, -74.008181922)"
4,965893271,25,MANHATTAN,1/2/2016,9:00:00,1/2/2017,18:30:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,338,"LARCENY,PETIT FROM BUILDING,UN",RESIDENCE - APT. HOUSE,2019,999525,231804,40.802919,-73.944828,"(40.8029194, -73.944827707)"
5,690833151,25,MANHATTAN,2/1/2016,13:00:00,9/1/2018,13:00:00,COMPLETED,WAGNER,N.Y. HOUSING POLICE,...,NaN,166,SODOMY 2,RESIDENCE - PUBLIC HOUSING,2019,1000555,230994,40.800694,-73.941109,"(40.800694331, -73.941109286)"
6,563999853,5,MANHATTAN,2/3/2016,20:40:00,2/3/2019,20:50:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,101,ASSAULT 3,BAR/NIGHT CLUB,2019,985464,200485,40.716970,-73.995622,"(40.716969881, -73.995622099)"
7,877956688,25,MANHATTAN,2/20/2016,0:00:00,8/8/2018,0:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,175,"SEXUAL ABUSE 3,2",RESIDENCE - APT. HOUSE,2019,1000555,230994,40.800694,-73.941109,"(40.800694331, -73.941109286)"
8,505910152,28,MANHATTAN,2/25/2016,20:11:00,2/25/2019,20:29:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,639,AGGRAVATED HARASSMENT 2,RESIDENCE - APT. HOUSE,2019,998903,231702,40.802640,-73.947075,"(40.802640491, -73.947074612)"
9,748658209,34,MANHATTAN,3/5/2016,0:00:00,3/4/2019,23:35:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,739,"FRAUD,UNCLASSIFIED-FELONY",RESIDENCE - APT. HOUSE,2019,1003411,248824,40.849627,-73.930743,"(40.849626874, -73.930742763)"
10,849426894,30,MANHATTAN,3/6/2016,8:00:00,3/6/2016,9:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,177,SEXUAL ABUSE,RESIDENCE - APT. HOUSE,2019,999794,241252,40.828851,-73.943834,"(40.828851045, -73.943834191)"
11,337642706,23,MANHATTAN,3/18/2016,13:40:00,3/12/2019,13:46:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,708,"IMPERSONATION 1, POLICE OFFICE",STREET,2019,999049,226734,40.789004,-73.946558,"(40.789004435, -73.946558205)"
12,455393595,32,MANHATTAN,3/23/2016,0:01:00,3/23/2017,0:01:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,175,"SEXUAL ABUSE 3,2",RESIDENCE - APT. HOUSE,2019,999358,236472,40.815732,-73.945420,"(40.815732053, -73.945420411)"
13,546531997,33,MANHATTAN,3/24/2016,20:00:00,3/25/2016,8:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,321,"LARCENY,PETIT FROM AUTO",STREET,2019,999162,243927,40.836194,-73.946112,"(40.83619424, -73.946111937)"
14,151621437,9,MANHATTAN,4/13/2016,22:00:00,NaN,NaN,ATTEMPTED,NaN,N.Y. POLICE DEPT,...,NaN,109,"ASSAULT 2,1,UNCLASSIFIED",STREET,2019,991134,203370,40.724886,-73.975165,"(40.724885918, -73.975165356)"
15,181592115,1,MANHATTAN,4/21/2016,9:00:00,1/11/2019,9:30:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,718,"FRAUD,UNCLASSIFIED-MISDEMEANOR",PUBLIC BUILDING,2019,982514,197852,40.709743,-74.006263,"(40.709742835, -74.006263164)"
16,153768808,32,MANHATTAN,4/23/2016,4:00:00,4/28/2016,4:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,407,"LARCENY,GRAND BY DISHONEST EMP",GROCERY/BODEGA,2019,1001540,241249,40.828840,-73.937525,"(40.828839565, -73.937525141)"
17,321009695,34,MANHATTAN,4/25/2016,18:00:00,4/25/2019,19:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,637,"HARASSMENT,SUBD 1,CIVILIAN",HOMELESS SHELTER,2019,1005771,253980,40.863773,-73.922196,"(40.863773113, -73.922195841)"
18,250595754,5,MANHATTAN,5/26/2016,0:00:00,2/27/2019,23:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,426,"LARCENY,GRAND BY BANK ACCT COMPROMISE-TELLER",BANK,2019,982932,200142,40.716028,-74.004756,"(40.716028413, -74.004755895)"
19,162814945,34,MANHATTAN,5/27/2016,12:00:00,2/14/2017,12:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,729,"FORGERY,ETC.,UNCLASSIFIED-FELO",RESIDENCE - APT. HOUSE,2019,1004619,254992,40.866553,-73.926358,"(40.866553478, -73.926357628)"
20,738608402,25,MANHATTAN,6/1/2016,0:01:00,7/1/2017,23:59:00,COMPLETED,NaN,N.Y. HOUSING POLICE,...,NaN,170,"SEXUAL MISCONDUCT,INTERCOURSE",RESIDENCE - PUBLIC HOUSING,2019,1000555,230994,40.800694,-73.941109,"(40.800694331, -73.941109286)"
21,196443135,18,MANHATTAN,6/16/2016,18:00:00,6/16/2019,18:30:00,ATTEMPTED,NaN,N.Y. POLICE DEPT,...,NaN,386,"ROBBERY,PERSONAL ELECTRONIC DEVICE",STREET,2019,991518,216299,40.760372,-73.973766,"(40.760372495, -73.973765993)"
22,141577142,28,MANHATTAN,7/1/2016,19:00:00,5/31/2018,18:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,639,AGGRAVATED HARASSMENT 2,OTHER,2019,995918,231111,40.801023,-73.957857,"(40.801022804, -73.957857498)"
23,759318544,9,MANHATTAN,8/13/2016,23:00:00,NaN,NaN,ATTEMPTED,NaN,N.Y. POLICE DEPT,...,NaN,109,"ASSAULT 2,1,UNCLASSIFIED",STREET,2019,990600,203948,40.726473,-73.977091,"(40.726472786, -73.977091375)"
24,110241037,1,MANHATTAN,8/15/2016,12:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,349,"LARCENY,PETIT OF LICENSE PLATE",STREET,2019,981926,196411,40.705787,-74.008384,"(40.705787495, -74.00838357)"
25,851935504,33,MANHATTAN,8/17/2016,7:27:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,739,"FRAUD,UNCLASSIFIED-FELONY",STREET,2019,1001494,248376,40.848401,-73.937673,"(40.848401198, -73.937673036)"
26,516230897,18,MANHATTAN,8/18/2016,0:01:00,10/12/2016,23:59:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,407,"LARCENY,GRAND BY DISHONEST EMP",COMMERCIAL BUILDING,2019,991242,214811,40.756289,-73.974764,"(40.756288537, -73.974763822)"
27,636533717,1,MANHATTAN,8/24/2016,12:00:00,2/28/2019,12:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,338,"LARCENY,PETIT FROM BUILDING,UN",RESIDENCE - APT. HOUSE,2019,981926,196411,40.705787,-74.008384,"(40.705787495, -74.00838357)"
28,391004093,18,MANHATTAN,9/1/2016,8:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,638,"HARASSMENT,SUBD 3,4,5",STREET,2019,988696,216220,40.760158,-73.983953,"(40.760157529, -73.983952679)"
29,246724531,10,MANHATTAN,9/1/2016,14:50:00,3/20/2019,14:51:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,739,"FRAUD,UNCLASSIFIED-FELONY",RESIDENCE - APT. HOUSE,2019,982246,210981,40.745779,-74.007234,"(40.745778689, -74.007233746)"
30,208047225,18,MANHATTAN,9/16/2016,17:03:00,9/16/2016,17:05:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,405,"LARCENY,GRAND BY THEFT OF CREDIT CARD",COMMERCIAL BUILDING,2019,991677,215466,40.758086,-73.973193,"(40.75808599, -73.973192967)"
31,680585582,34,MANHATTAN,9/16/2016,18:57:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,739,"FRAUD,UNCLASSIFIED-FELONY",STREET,2019,1003372,248278,40.848128,-73.930885,"(40.84812835, -73.930885288)"
32,437013982,26,MANHATTAN,9/28/2016,13:30:00,1/25/2018,17:30:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,168,SODOMY 1,PUBLIC SCHOOL,2019,996241,236149,40.814850,-73.956682,"(40.814850289, -73.956681848)"
33,726341940,7,MANHATTAN,10/1/2016,8:00:00,10/31/2016,15:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,175,"SEXUAL ABUSE 3,2",PUBLIC SCHOOL,2019,988708,200317,40.716508,-73.983920,"(40.716507722, -73.983919899)"
34,305070094,9,MANHATTAN,10/3/2016,15:00:00,10/3/2016,15:40:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,157,RAPE 1,RESIDENCE - APT. HOUSE,2019,987624,203977,40.726554,-73.987828,"(40.726554019, -73.987828427)"
35,309974238,10,MANHATTAN,10/9/2016,21:50:00,10/10/2016,6:54:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,109,"ASSAULT 2,1,UNCLASSIFIED",STREET,2019,984928,211276,40.746589,-73.997555,"(40.746588592, -73.997554564)"
36,266120857,32,MANHATTAN,10/20/2016,23:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,175,"SEXUAL ABUSE 3,2",RESIDENCE - APT. HOUSE,2019,999358,236472,40.815732,-73.945420,"(40.815732053, -73.945420411)"
37,384040746,5,MANHATTAN,10/28/2016,15:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,847,"NY STATE LAWS,UNCLASSIFIED FEL",RESIDENCE - APT. HOUSE,2019,983903,200257,40.716344,-74.001253,"(40.716344152, -74.001253193)"
38,539609190,30,MANHATTAN,11/19/2016,0:00:00,8/28/2018,0:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,739,"FRAUD,UNCLASSIFIED-FELONY",RESIDENCE - APT. HOUSE,2019,998758,240846,40.827738,-73.947579,"(40.827738453, -73.947578589)"
39,871013873,19,MANHATTAN,12/3/2016,14:30:00,8/12/2018,13:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,718,"FRAUD,UNCLASSIFIED-MISDEMEANOR",RESIDENCE-HOUSE,2019,996750,218838,40.767336,-73.954875,"(40.767335547, -73.954875211)"
40,407241454,28,MANHATTAN,12/8/2016,19:00:00,12/8/2016,22:00:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,153,RAPE 3,RESIDENCE - APT. HOUSE,2019,997376,233927,40.808750,-73.952586,"(40.808749904, -73.952585806)"
41,885176771,5,MANHATTAN,12/16/2016,17:00:00,NaN,NaN,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,847,"NY STATE LAWS,UNCLASSIFIED FEL",PUBLIC BUILDING,2019,983903,200257,40.716344,-74.001253,"(40.716344152, -74.001253193)"
42,939503246,32,MANHATTAN,12/26/2016,23:59:00,12/27/2016,0:59:00,COMPLETED,NaN,N.Y. POLICE DEPT,...,NaN,157,RAPE 1,RESIDENCE - APT. HOUSE,2019,999358,236472,40.815732,-73.945420,"(40.815732053, -73.945420411)"

In [106]:
NYC_CRIME_CNT=nyc_crime['YEAR'].value_counts()
NYC_CRIME_CNT

2019    43
Name: YEAR, dtype: int64

Total Crimes in NYC in 2019 alone are 43

In [102]:
rank_col=['Category_Rank','NYC','Chicago']
data={'Category_Rank':'Crime','NYC':[0],'Chicago':[1]}
#rank_df['Crime']=pd.DataFrame(data,rank_col) 
rank_df1=pd.DataFrame(data)
rank_df1

  Category_Rank  NYC  Chicago
0         Crime    0        1

In [52]:
nyc_wage=pd.read_csv('NYC_WAGE.csv')
nyc_wage

                              Location 12/31/2020
0  NYC - Big Employers (of 11 or more)        NaN
1   NYC - Small Employers (10 or less)        NaN
2            Long Island & Westchester    $14.00
3  Remainder of New York State Workers    $12.50

In [42]:
import numpy as np

In [53]:
nyc_wage.dropna()

                              Location 12/31/2020
2            Long Island & Westchester    $14.00
3  Remainder of New York State Workers    $12.50

In [54]:
chic_wage=pd.read_csv('chic_wage.csv')
chic_wage

  Effective Date Non-Tipped Employees
0        Current               $8.25
1       1-Jul-15              $10.00
2       1-Jul-16              $10.50
3       1-Jul-17              $11.00
4       1-Jul-18              $12.00
5       1-Jul-19              $13.00

When we compare the Minimum wage between NYC and Chicago Nyc is the highest Paid

In [103]:
rank2={'Category_Rank':'Wage','NYC':1,'Chicago':0}
rank_df1 = rank_df1.append(rank2, ignore_index=True)
rank_df1

  Category_Rank  NYC  Chicago
0         Crime    0        1
1          Wage    1        0

Now lets find the Cost of Living

Data is downloaded from the below URL
https://www.numbeo.com/cost-of-living/region_rankings.jsp?title=2019&region=019

In [88]:
cost=pd.read_csv('Cost_Of_living.csv')
cost

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,"New York, NY, United States",100.00,100.00,100.00,100.00,100.00,100.00
1,2,"Honolulu, HI, United States",95.67,61.58,79.30,106.64,85.75,101.03
2,3,"Washington, DC, United States",91.99,70.51,81.68,98.45,86.55,126.08
3,4,"San Francisco, CA, United States",91.67,106.05,98.58,94.22,92.11,134.05
4,5,"Brooklyn, NY, United States",90.29,79.99,85.34,87.17,94.34,87.19
...,...,...,...,...,...,...,...,...
95,96,"Belo Horizonte, Brazil",43.53,10.08,27.47,29.86,34.47,35.19
96,97,"Guatemala City, Guatemala",42.89,14.10,29.06,39.01,34.04,43.45
97,98,"Porto Alegre, Brazil",42.38,10.42,27.03,29.92,33.24,40.95
98,99,"Florianopolis, Brazil",41.19,11.57,26.97,29.43,38.48,35.83
99,100,"Curitiba, Brazil",40.63,9.69,25.78,28.16,33.62,38.68

In [92]:
cost.loc[cost['City'].isin(['Chicago, IL, United States'])]

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
14,15,"Chicago, IL, United States",77.75,51.61,65.2,73.9,78.96,133.36

In [95]:
chic_cost_rank=cost.iloc[:,0].loc[cost['City'].isin(['Chicago, IL, United States'])]

In [99]:
print('Rank of Chicago based on the cost of living is ')
chic_cost_rank

Rank of Chicago based on the cost of living is

14    15
Name: Rank, dtype: int64

In [98]:
nyc_cost_rank=cost.iloc[:,0].loc[cost['City'].isin(['New York, NY, United States'])]
print('Rank of NYC based on the cost of living is ')
nyc_cost_rank

Rank of NYC based on the cost of living is

0    1
Name: Rank, dtype: int64

In [104]:
rank3={'Category_Rank':'Cost_Of_Living','NYC':0,'Chicago':1}
rank_df1 = rank_df1.append(rank3, ignore_index=True)
rank_df1

    Category_Rank  NYC  Chicago
0           Crime    0        1
1            Wage    1        0
2  Cost_Of_Living    0        1

As you can see the rank for chicago is higher than the NYC